@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="rtl">

<!-- Mirrored from mahdghanon.ir/visit/public/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 06 Oct 2023 12:50:05 GMT -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/node_modules/swiper/swiper-bundle.min.css">
	<link href="~/css/style.css" rel="stylesheet" />
	<title>404</title>
</head>
<body class="bg-slate-50 font-YekanBakh-Regular text-sm">

<section class="h-screen px-4 flex items-center">
	<div class="container mx-auto max-w-screen-sm text-center leading-10">
		<img class="w-3/4 mb-16 mx-auto" src="~/assets/images/404.png" alt="">
		<p class="text-2xl font-YekanBakh-Bold mb-4">اوه، صفحــه مورد نظر یافــت نشد!!</p>
		<a class="bg-indigo-600 text-white py-2 px-6 rounded-xl" asp-controller="Home" asp-action="Index">برو به صفحه اصلی</a>
	</div>
</section>

</body>
  
</html>